# ----------------------------
# R / RStudio
# ----------------------------

.Rhistory
.RData
.Ruserdata

# RStudio
.Rproj.user/

# ----------------------------
# Quarto
# ----------------------------

.quarto/

# Freeze cache (optional)
_freeze/

# ----------------------------
# Operating System
# ----------------------------

.DS_Store
Thumbs.db
desktop.ini

# ----------------------------
# Logs
# ----------------------------

*.log

# ----------------------------
# Temporary files
# ----------------------------

*~
*.tmp
*.bak

# ----------------------------
# Python (if ever used)
# ----------------------------

__pycache__/
*.py[cod]

# ----------------------------
# VS Code
# ----------------------------

.vscode/

# ----------------------------
# Positron
# ----------------------------

# Zotero
zotero.sqlite

.posit/

# ----------------------------
# Output
# ----------------------------

output/
/.quarto/
